* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*Centering CV*/
article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*CV Head*/
header {
    display: flex;
    flex-direction: row;
    margin: 40px 0;
    box-shadow: 0px 0px 10px gray;
    border-radius: 10px;
    width: 70%;
    min-width: 600px;
    max-width: 900px;
    justify-content: space-around;
    align-items: center;
}

/*Scale Header on mouse over*/
header:hover {
    transition: ease 0.2s;
    transform: scale(1.1);
}

header:not(:hover) {
    transition: ease 0.2s;
    transform: scale(1);
}

header > div {
    font-size: 1.5rem;
    margin: 20px;
}

header > div > h2 {
    font-style: italic;
    color: darkcyan;
    margin-bottom: 50px;
}

span {
    color:slategray
}

#picture {
    width: 200px;
    margin: 20px;
    border: 2px black solid;
    border-radius: 10px;
}

/*CV Body*/
body {
    font-size: 1.3rem;
    margin: 0 100px;
    margin-bottom: 50px;
}

li > h2 {
    margin: 20px 0;
    color:darkcyan;
}

ol > li {
    max-width: 700px;
    border-bottom: 1px gray solid;
    padding-bottom: 20px;
}

/*scale sections on hover for clear view*/
ol > li:hover {
    transition: ease 0.2s;
    transform: scale(1.2);
}

ol > li:not(:hover) {
    transition: ease 0.2s;
    transform: scale(1);
}

table {
    transform: scale(1.2) translateX(90px);
}

/*Footer*/
footer {
    background-color:powderblue;
    border-radius: 10px;
    margin-top: 60px;
    padding: 30px 100px;
}
footer > div > button { /*icons*/
    border: none;
    background: none;
}

footer > div > :nth-child(2){
    margin: 0 100px;
}

a > img {
    width: 70px;
    animation: float 3s infinite ease-in-out;
}

button > a {
    border-bottom: 2px darkcyan solid;
}

footer > div { /*icons container*/
    transform: translateY(15px);
    display: flex;
}

/*floating animation*/
@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0);
    }
}

/*applying animation delay for visual effects*/
footer > div > :nth-child(1) > a > img {
    animation-delay: 0;
}
footer > div > :nth-child(2) > a > img{
    animation-delay: 0.4s;
}
footer > div > :nth-child(3) > a > img {
    animation-delay: 0.8s;
}

button:hover {
    cursor: pointer;
}